:root {
    --White: hsl(0, 100%, 100%);
    --Grey500: hsl(0, 0%, 63%);
    --Grey800: hsl(0, 0%, 27%);
    --Black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}