:root {
    --White: hsl(0, 100%, 100%);
    --Grey500: hsl(0, 0%, 63%);
    --Grey800: hsl(0, 0%, 27%);
    --Black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    height: 100vh;
}

header {    
    min-width: 375px;
}

.mobile-hamburger {
    /* visibility: hidden; */
    position: absolute;
    top: 3.5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 35%;
    width: 100%;
    height: auto;
    z-index: 10;
    padding-left: 25px;
    
}

.btnHamburger {
    background-image: url(../images/icon-hamburger.svg);
    width: 16px;
    height: 16px;
}

.mobile-close{
    visibility: hidden;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 110px;
    z-index: 10;
    gap:30px;
    padding-left: 25px;
    background-color: var(--White);
}

.btnClose {
    /* position: absolute; */
    top: 35%;
    background-image: url(../images/icon-close.svg);
    width: 16px;
    height: 16px;
}

.menu-mobile {
    /* position: absolute; */
    top: 35%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.menu-mobile li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--Black);
    font-weight: 500;
}

.menu-mobile li:first-child{
    padding-left: 34px;
}

.menu-desktop {
    display: none;
    position: absolute;
    top: 5%;

}


section {
    min-width: 375px;
}



.heroImg {
    background-image: url('../images/mobile-image-hero-1.jpg');
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



.sliders {
    position: absolute;
    width: 30%;
    height: 3rem;
    background-color: var(--Black);
    right: 0;
    top: 27.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    margin: 4rem 2rem;

}

h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btnShop {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    color: var(--Black);

}

.textShop {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: var(--Black);
}

.about-img {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-content {
    margin: 4rem 2rem;
}

.about-content h2 {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}

.about-content p {
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.light-img {
    width: 375px;
    height: 266px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}